<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<container>
			<register type="Umc.Core.Tests.Mock.IMock1, Umc.Core.Tests" mapTo="Umc.Core.Tests.Mock.Mock1, Umc.Core.Tests" />
		</container>
	</unity>

	<Umc.Core.ioc xmlns="http://schema.ncsoft.co.kr/Umc.Core/ioc">
		<containers>
			<container>
				<register contract="a" dependencyTo="b" />
			</container>
		</containers>
	</Umc.Core.ioc>
	
</configuration>